{{!-- <div>
    <h1>Saludos, {{name}}</h1>
</div> --}}

{{!----------------- Actividad Clase mostrando usuario random por pantalla ----------------}}
{{!-- <div>
    <h1>Usuario al azar: </h1>
    <p>Nombre: {{name}}</p>
    <p>Apellido {{last_name}}</p>
    <p>Edad: {{age}}</p>
    <p>Correo: {{email}}</p>
    <p>Telefono{{phone}}</p>
</div> --}}
{{!---------------- Fin Actividad Clase mostrando usuario random por pantalla -------------}}

<div>
    <h1>Saludo {{user.name}}</h1>
    {{#if isAdmin}}
    {{#each food}}
    <div>
        <p>{{this.name}}</p>
        <p>{{this.price}}</p>
    </div>
    {{/each}}
    {{else}}
    <p>No eres administrador</p>
    {{/if}}
</div>